<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StorMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D883F3B01E6984FB00546D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D883F3C41E6984FB00546D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D883F3CF1E6984FB00546D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
